
<mat-sidenav-container fullscreen>
    <!-- Barra lateral -->
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <!-- Espaciador -->
            <span class="spacer"></span>
            <!-- Botón toggle -->
            <button mat-icon-button
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <!-- Links de Navegación -->
        <mat-nav-list>
            <a routerLink="./listado"
                mat-list-item
                (click)="sidenav.toggle()"> <!-- ./ porque ya nos encontramos en la ruta /heroes -->
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a routerLink="./agregar"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Añadir Héroe</span>
            </a>
            <a routerLink="./buscar"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Parte exterior -->
    <mat-toolbar>
        <!-- Botón toggle -->
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <!-- Espaciador -->
        <span class="spacer"></span>

        <button mat-button>
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <!-- Outlet -->
        <router-outlet></router-outlet>
    </div>    
</mat-sidenav-container>
